<header class="header" id="header">
  <div class="container header__container">
      <a href="./#hero" class="logo">
          <span class="logo__accent">Teron</span>-Quant
      </a>

      <nav class="nav" id="nav-menu">
          <ul class="nav__list">
              <li><a href="./#hero" class="nav__link">Главная</a></li>
              <li><a href="./#about" class="nav__link">О платформе</a></li>
              <li><a href="./#features" class="nav__link">Преимущества</a></li>
              <li><a href="./#innovations" class="nav__link">Инновации</a></li>
              <li><a href="./#education" class="nav__link">Обучение</a></li>
          </ul>
      </nav>

      <div class="header__actions">
          <a href="./#contact" class="btn btn--orange btn--small hide-mobile">Начать сейчас</a>
          <button class="burger" id="burger-menu" aria-label="Открыть меню">
              <span class="burger__line"></span>
              <span class="burger__line"></span>
              <span class="burger__line"></span>
          </button>
      </div>
  </div>
</header>